@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
html{
    font-size: 62.5%; /* making default font size of rem to 10px from 16px.*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    /* outline: 1px solid red; */
}
/* body{
    overflow-x: hidden;
    height: 100vh;
} */
/* body::-webkit-scrollbar{
    display: none;
} */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .section{
    max-width: 100vw;
    min-width: 100vw;
    height: fit-content;
    background-color: red;
} */
/* .banner{
    height: 759px;
    width: 100%;
    overflow: hidden;
    background-color: red;
} */
.inner_block_container{
    /* max-width: 1366px; */
    margin: 0 auto;
    max-width: 1540px;
    min-width: 360px;
    height:100%;
    position: relative;
    /* background-color: red; */
    
}
.nav{
    /* width: 75rem; */
    margin: auto;
    /* background-color: red; */
}
.logo{
    cursor: pointer;
    margin-top: 20px;
    /* margin-left: 10rem; */
    margin-left: 10%;
    width: 140px;
}
.background_images{
    position: relative;
    /* object-fit: cover; */
    width: 100%;
    /* width: calc(100% + 80px); */
    height: 655px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    margin:0 ;
    /* margin-left: -4rem; */
    padding: 0;
}
.bg_building{
    position: absolute;
    opacity: 0.3;
    bottom: 0;
    left: 0%;
    width: 100%;
    /* width: 1540px; */
    /* background-position: bottom; */
    /* background-size: cover; */
    /* object-fit: cover; */
    /* margin-top: 6rem; */
    /* height: calc(100% + 10px); */
    /* position: absolute; */
    z-index: -1;
}
.bg_reactangle{
    /* position: absolute; */
    /* position: relative; */
    left: 0;
    bottom: 0;
    background-size: cover;
    /* background-color: red; */
    /* z-index: 10; */
    /* width: 100%; */
    width: 1540px;
    /* margin: 0; */
    padding: 0;
    /* height: 100%; */
    /* background-color: #1AB164; */
}
.balloon{
    position: absolute;
    top: 22px;
    /* left: 11rem; */
    left: 11%;
    width: 112px;
}
.banner_car{
    /* width: 596px; */
    width: 59.6rem;
    position: absolute;
    bottom: 0px;
    /* left: 9rem; */
    left: 10%;
    /* left: 3%; */
    /* background-color: rebeccapurple; */
    z-index: 1;
}
.banner_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* width: 80rem; */
    /* max-width: 180rem; */
    max-width: 89rem;
    min-width: 360px;
    margin: auto;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_content h2{
    /* width: 544px; */
    /* width: 544px; */
    max-width: min-content;
    min-width: fit-content;
    /* background-color: red; */
    /* font-size: 48px; */
    font-size: 4.8rem;
    color: #F17B3B;
    margin-top: -2rem;
    font-family: 'Raleway', sans-serif;
}
.banner_content .form{
    /* height: 610px; */
    /* height: 550px; */
    height: fit-content;
    padding: 20px 0;
    background-color: #fefefe;
    /* margin: 2rem; */
    margin-top: -1rem;
    margin-left: 10rem;
    margin-right: 4rem;
    /* margin-left: 10%; */
    /* margin-left: 10%; */
    /* padding: 25px; */
    border-radius: 10px;
    box-shadow: 0px 10px 50px 0px #42777958;
    flex-direction: column;
    z-index: 2;
}
.banner_content .form h3{
    font-size: 24px;
    width: 366px;
    margin: 0px 42px;
    /* margin-top: 16px; */
    text-align: center;
    color: #F17B3B;
    /* background-color: red; */
    font-family: 'Raleway', sans-serif;
}
.banner_content .form .input_group{
    height: 73px;
    /* height: 7.3rem; */
    /* width: 359px; */
    /* width: 309px; */
    min-width: 359px;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    /* margin: 23px 0; */
    /* background-color: #1AB164; */
    margin-top: 12px;
    /* margin-top: 0.8rem; */
    margin-bottom: 13px;
}
.banner_content .form .input_group label{
    font-size: 10px;
    font-weight: 900;
    color: #000000;
    /* margin-top: 0.8rem; */
    margin-bottom: 8px;
}
/* strong{
    font-size: large;
    color: #F17B3B;
} */
.banner_content .form .input_group input{
    height: 52px;
    padding-left: 1.5rem;
    font-size: 17px;
    font-weight: 500;
    color: #81A7A7;
    outline: none;
    border: 2px solid #81A7A7;
    font-family: 'Times New Roman', Times, serif;
}
.banner_content .form .input_group .input_select{
    height: 52px;
    padding-left: 1.5rem;
    font-size: 17px;
    font-weight: 500;
    color: #81A7A7;
    outline: none;
    /* background-color: #1AB164; */
    border: 2px solid #81A7A7;
    font-family: 'Times New Roman', Times, serif;
    /* margin: 0;       */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
    /* linear-gradient(45deg, transparent 50%, rgb(108, 108, 108) 50%), */
    linear-gradient(45deg, transparent 50%, #81A7A7 50%),
    linear-gradient(135deg, #81A7A7 50%, transparent 50%);
    /* linear-gradient(to right, skyblue, skyblue); */
  background-position:
    calc(100% - 20px) calc(1.6rem + 5px),
    calc(100% - 16px) calc(1.6rem + 5px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}
/* ::-moz-placeholder, */
/* :-ms-input-placeholder, */
::-webkit-input-placeholder,
::placeholder{
    font-size: 17px;
    font-weight: 500;
    color: #81A7A7;
    /* padding-left: 14px; */
}
/* .banner_content .form .input_group:nth-child(4) input::-webkit-inner-spin-button, */
.banner_content .form .input_group:nth-child(4) input::-webkit-inner-spin-button{
    background-color: red;
    display: none;
}
.banner_content .form .input_group:nth-child(6){
    /* color: #F17B3B; */
    /* background-color: red; */
    height: 2rem;
    margin-top: 10px;
    padding: 0;
    display: flex;
    max-width: 356px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.banner_content .form .input_group:nth-child(6) input{
    margin: 0 ;
}
.banner_content .form .input_group:nth-child(6) input:has(:checked){
    color: #F17B3B;
    background-color: #f9600e;
}
/* .banner_content .form .input_group:nth-child(6) input:checked{
    color: #F17B3B;
    background-color: #f9600e;
} */
.banner_content .form .input_group:nth-child(6) label{
    font-size: 11px;
    margin: 0 ;
    margin-left: 8px;
    color: #000000;
    cursor: pointer;
    font-weight: 500;
}
.banner_content .form button{
    width: 157px;
    height: 43px;
    font-size: 13px;
    /* margin-top: 23px; */
    margin-bottom: 20px;
    outline: none;
    border: none;
    background-color: #F17B3B;
    border-radius: 5px;
    color: #efefef;
    font-weight: 600;
}
.banner_content .form button:hover{
    background-color: #f76517;
/* box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.663); */
box-shadow: 0px 5px 10px #d6530d75;
transform: translate(0,-3px) scale(1.05);
cursor: pointer;
}
/* ****************************icon sections for key benefits  */
.icon_section{
    /* padding: 30px; */
    padding-top: 30px;
}
.icon_section .icon_carousel_upper{
    /* background-color: red; */
    height: 300px !important;
    /* padding: 20px; */
    /* overflow-y: visible !important; */
    width: fit-content;
    margin: auto;
    height: max-content;
}
.icon_section .key_heading{
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #1AB164;
}

.icon_section .card_container{
    display: flex;
    /* width: 100%; */
    max-width: 110rem;
    min-width: 360px;
    /* background-color: red; */
    /* padding: 0 10rem; */
    /* padding: 0 10%; */
    margin: auto;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    /* margin-bottom: 5rem; */
}
.icon_section .icon_carousel_upper .card_container .icon_card{
   flex-direction: column;   
   margin: 1.6rem;
   /* border: 1px solid black; */
   border-radius: 10px;
   padding: 1.6rem;
   transition: all ease-in 200ms;
   /* background-color: red; */
   justify-content: center !important;
   align-items: center !important;
   cursor: pointer;
}
/* .icon_section .card_container .icon_card:hover{
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.414);
    transform:  scale(1.01);
} */
.icon_section .card_container .icon_card img{
    margin: 1.6rem auto;
}
.icon_section .card_container .icon_card h4{
    /* width: max-content; */
    /* width: 100%; */
    min-width: max-content;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
}
.icon_section .card_container .icon_card p{
    width: 100% !important;
    /* min-width: fit-content; */
    margin: 0 auto;
    /* color: red; */
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}


/* slick icon section design css ***************************************************************** */
/* .icon_section .slick-prev, .icon_section .slick-next{
    padding: 1rem;
    background-color: #1DB0EA;
    margin-top: -20px !important;
} */
.icon_section .slick-prev::before{
    content: url(../img/left_icon-sm.png);
    /* color: #1AB164; */
    padding: 20px !important;
    width: 80px !important;
    z-index: 10 !important;
    margin-left: -60px !important;
}
.icon_section .slick-next::before{
    /* background-color: red; */
    content: url(../img/right_icon-sm.png);
    color: #1AB164;
    padding: 20px !important;
    width: 80px !important;
    z-index: 10 !important;
    /* margin-top: -20px !important; */
}
.icon_section .slick-slide {
    /* background-color: #1AB164 !important; */
    /* width: 600px !important; */
    min-width: 200px;
    margin: 2rem 1rem !important;
   
}
.icon_section .slick-current h4 p {
    text-align: center !important;
    /* background-color: #1DB0EA; */
    margin: 0 auto !important;
    /* width: 100% !important; */
    /* min-width: fit-content; */
}
.icon_section .slick-track{
    /* width: 180rem !important; */
    max-width: 180rem !important;
    margin: 0 auto !important;
    /* margin-left: 30rem !important; */
    /* width: 80% !important; */
    /* height: 250px !important; */
    padding-top: 5rem ;
    /* max-height: 500px !important; */
    display: flex;
}
/* slick icon section design css ***************************************************************** */


/* ***************************  Testimonial groups section */
.testimonial_container{
    padding: 30px;
    background-image: url("../img/bg-grafity.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.Testimonials_main_heading{
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    font-size: 40px;
    color: #000000;
}
/* .main_corausal{
    background-image: url("../img/bg-grafity.svg");
} */
.corausal_inner_body{
    overflow: hidden;
}
.testimonial_group{
    display: flex;
    /* padding: 0 10rem; */
    height: 200px;
    justify-content: space-between;
}
.testimonial_content{
    /* background-color: #1AB164; */
    /* width: fit-content;
    height: ; */
    position: relative;
    /* background-color: red; */
    width: 300px;
    height: 200px;
    /* height: fit-content; */
    /* margin-left: 15rem; */
    padding: 0%;
}
.testimonial_content .msg_img{
position: absolute;
/* background-color: red; */
width: 100%;
}

.testimonial_content .person-head-svg{
    position: absolute;
    top: 15px;
    left: 18px;
    width: 90%;
    /* background-color: red; */
}
.testimonial_content .message{
    position: relative;
    top: 40px;
    left: 130px;
}
.testimonial_content .message .msg_qoats{
    /* margin: 5px; */
    margin-top: 5px;
}
.testimonial_content .message .msg_para{
    color: #427779;
    font-size: 14px;
    margin: 2px 3px;
    margin-top: 0;
}
.testimonial_content .message  .testmonial_person_name{
    font-size: 17px;
    color: #733A7E;
}
.corausal_nav_btn{
    width: fit-content;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    display: none;
}
.corausal_nav_btn span{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 10px;
    z-index: 10;
}

/* ***************** */
/* .slick-dots{
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
} */
.corausal_inner_body .slick-prev ,.corausal_inner_body .slick-next{
    display: none !important;
}
.corausal_inner_body .slick-slide{
    height: 200px !important;
    width: 350px !important;
    /* max-width: 340px !important; */
    /* min-width: 300px !important; */
    /* width: 3% !important; */
    /* background-color: red; */
    /* margin:0 2.3rem !important; */
    margin:0 0.11% !important;
    margin-bottom: 3rem !important;
}
.corausal_inner_body .slick-current{
    /* max-width: 390px !important; */
    /* min-width: 300px !important; */
    width: 350px !important;
    /* width: 3% !important; */
}
.corausal_inner_body .slick-track {
    position: relative;
    top: 0;
    padding: 0 4% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    /* overflow: hidden !important; */
}
/* .slick-active{
    margin:  0 2rem !important;
} */
/* ***************** */

/* ******************** botttom --  Disclaimer */
.Disclaimer{
    /* padding: 20px 15rem; */
    padding: 20px 15%;
}
.Disclaimer .article_1, .article_2{
    width: 100%;
    height: fit-content;
    margin: 2.5rem 0;
}
.Disclaimer .article_headings{
    margin-bottom: 1rem;
    font-size: 14px;
    color: #000000;
}
.Disclaimer .article_para{
    font-size: 14px;
    color: #707070;
    margin: 8px 0;
    line-height: 20px;
}
/* footer section  */
footer{
    width: 100%;
    text-align: center;
    background-color: #1DB0EA;
    padding: 10px 0;
    font-size: 1.9rem;
}
footer a{
    color: #FFFFFF;
    text-decoration: none;
}