@media only screen and (max-width:600px) {
    .nav .logo{
        display: block;
        /* background-color: red; */
        margin: 20px auto 0;
    }
    .banner_content{
        left: 50%;
    }
    .testimonial_content .person-head-svg{
        top: 15px;
        left: 17px;
    }
    .testimonial_content .message{
        top: 45px;
        left: 120px;
    }
    .testimonial_content .message .msg_qoats{
        /* width: 4.5rem; */
        width: 25px;
    }
    .testimonial_content .message .msg_para{
        /* font-size: 2.2rem; */
        font-size: 14px;
    }
    .testimonial_content .message  .testmonial_person_name{
        /* font-size: 3rem; */
        font-size: 20px;
    }
    .corausal_inner_body .slick-slide{
        height: 200px !important;
        width: 350px !important;
        /* max-width: 390px !important;
        min-width: 300px !important; */
        /* width: 3% !important; */
        /* background-color: red; */
        /* margin:0 2.3rem !important; */
        margin:0 0.2% !important;
        margin-bottom: 3rem !important;
    }
    .corausal_inner_body .slick-current{
        width: 350px !important;
        height: 200px !important;
    }
}



@media only screen and (max-width:469px) {
    /* .Disclaimer{
        padding: 10px 5%;
    } */
    /* .testimonial_content{
        max-width: 360px !important;
    } */
    /* .corausal_inner_body .slick-slide{
        width: 330px !important;
    } */
    html{
        font-size: 35%;
    }
    .banner_car{
        /* background-color: aqua; */
        left: 21rem;
        width: 280px;
        /* right: 0rem !important; */
    }
    .icon_section .slick-prev::before{
        margin-left: -20px !important;
       }
       .icon_section .slick-next::before{
           margin-left: -60px !important;
       }
    .testimonial_content .person-head-svg{
        top: 13px;
        left: 15px;
    }
    /* .testimonial_content .person-head-svg{
        top: 15px;
        left: 17px;
    } */
    .testimonial_content .message{
        top: 32px;
        left: 100px;
    }
    .testimonial_content .message .msg_qoats{
        /* width: 4.5rem; */
        width: 19px;
    }
    .testimonial_content .message .msg_para{
        /* font-size: 2.2rem; */
        font-size: 13px;
    }
    .testimonial_content .message  .testmonial_person_name{
        /* font-size: 3rem; */
        font-size: 18px;
    }
    .corausal_inner_body .slick-slide{
        height: 200px !important;
        width: 300px !important;
        /* max-width: 390px !important;
        min-width: 300px !important; */
        /* width: 3% !important; */
        /* background-color: red; */
        /* margin:0 2.3rem !important; */
        margin:0 5rem !important;
        /* margin-bottom: 3rem !important; */
    }
    .corausal_inner_body .slick-current{
        /* max-width: 390px !important;
        min-width: 300px !important; */
        width: 300px !important;
        /* margin: 0 19rem; */
        /* width: 3% !important; */
    }
    .corausal_inner_body .slick-track {
        /* position: relative; */
        /* top: 0; */
        display: block !important;
        flex-direction: row !important;
        /* background-color: red; */
        /* padding: 0 4% !important; */
        width: 1190rem !important;
        margin: auto !important;
        margin-left: auto !important;
        margin-right: auto !important;
        /* overflow: hidden !important; */
    }
    
}