@media screen and (max-width:1391px) {
    .banner_car{
        left: 8%;
    }
}
@media screen and (max-width:1286px) {
    html{
        /* font-size: 9.5px; */
        font-size: 55%;
    }
    .banner_car{
        left: 5%;
        /* margin-left: 0rem; */
        /* background-color: red; */
    }
    /* .testimonial_content{
        height: fit-content;
        height: 150px !important;
    } */
    .banner_content .form .input_group select{
        height: 5rem !important;
        background-position:
        calc(100% - 20px) calc(1rem + 1px),
        calc(100% - 16px) calc(1rem + 1px),
        100% 0;
    }
    .icon_section .card_container{
        /* background-color: red; */
        max-width: 150rem;
    }

    /* .icon_section .card_container .icon_card{
        margin: 2.9rem;
        padding: 2.9rem;
    } */
    /* .icon_section .slick-prev{
        background-color: brown !important;
    } */
    .icon_section .slick-slide{
        /* background-color: red; */
        margin: 0 5rem !important;
    }
    .icon_section .slick-current{
        transform: scale(1.5);
    }
    .icon_section .slick-track{
        /* width: 150rem !important; */
        /* overflow: hidden; */
        /* background-color: aqua; */
        margin: 0 auto !important;
        /* margin-left: 40rem !important; */
        max-width: 80rem !important;
        height: 250px !important;
    }

    .testimonial_content .person-head-svg{
        position: absolute;
        top: 13px;
        left: 16px;
        width: 90%;
        /* background-color: red; */
    }
    .testimonial_content .message{
        /* position: relative; */
        top: 40px;
        left: 110px;
    }

    .corausal_inner_body .slick-slide{
        height: 180px !important;
        width: 320px !important;
        /* max-width: 340px !important; */
        /* min-width: 300px !important; */
        /* width: 3% !important; */
        /* background-color: red; */
        /* margin:0 2.3rem !important; */
        margin:0 0.1% !important;
        margin-bottom: 3rem !important;
    }
    .corausal_inner_body .slick-current{
        /* max-width: 390px !important; */
        /* min-width: 300px !important; */
        width: 320px !important;
        /* width: 3% !important; */
    }
    .corausal_inner_body .slick-track {
        position: relative;
        top: 0;
        padding: 0 4% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        /* overflow: hidden !important; */
    }
}
@media screen and (max-width:1188px) {
    .Testimonials_main_heading{
        /* font-size: 3rem; */
        font-size: 28px;
    }

    .corausal_inner_body{
    overflow: visible;
    /* height: fit-content; */
    height: 290px;
    /* background-color: blue; */
    margin-bottom: 2rem;
    }
    .testimonial_content .person-head-svg{
    top: 22px;
    left: 26px;
    }
    .testimonial_content .message{
        top: 60px;
        left: 180px;
    }
    .testimonial_content .message .msg_qoats{
        /* width: 4.5rem; */
        width: 45px;
    }
    .testimonial_content .message .msg_para{
        /* font-size: 2.2rem; */
        font-size: 18px;
    }
    .testimonial_content .message  .testmonial_person_name{
        /* font-size: 3rem; */
        font-size: 30px;
    }



    .corausal_inner_body .slick-dots{
        /* bottom: 0 !important; */
        /* justify-content: flex-end; */
        /* position: absolute !important; */
        /* margin-top: 50rem !important; */
        margin-bottom: -90px !important;
        /* background-color: aqua; */
    }
    .corausal_inner_body .slick-slide{
        height: 280px !important;
        width: 520px !important;
        margin:0 0.31% !important;
        margin-bottom: 3rem !important;
    }
    .corausal_inner_body .slick-current{
        /* max-width: 390px !important; */
        /* min-width: 300px !important; */
        width: 520px !important;
        /* width: 3% !important; */
    }
    .corausal_inner_body .slick-track {
        /* position: relative;
        top: 0; */
        padding: 0 4% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        overflow: visible !important;
    }

}


/* @media screen and (max-width:1122px) { */
@media screen and (max-width:1192px) {
    .banner_content .form{
        margin-left: 2rem;
    }
}


@media screen and (max-width:1100px) {
    .banner_content .form h3{
        font-size: 2rem;
        max-width: 300px;
    }

    .banner_content .form .input_group{
        max-width: 350px;
        min-width: 300px;
        margin-bottom: 0px;
    }
    .banner_content .form .input_group input{
        height: 5rem;
    }
    .banner_content .form .input_group select{
        height: 5rem !important;
        background-position:
        calc(100% - 20px) calc(1rem + 1px),
        calc(100% - 16px) calc(1rem + 1px),
        100% 0;
    }
    .banner_content .form .input_group:nth-child(6){
        /* background-color: red; */
        /* min-width: 300px; */
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin-bottom: 3rem;
    }
    .banner_content .form .input_group:nth-child(6) label{
        max-width: 250px;
    }
    .banner_content .form .input_group:nth-child(6) input{
        width: 2rem;
        margin-top: -1.5rem;
    }


}
@media screen and (max-width:978px) {
   html{
       font-size: 48%;
   }
    .background_images{
        height: 600px;
    }
    
}


@media screen and (max-width:925px) {
    html{
        font-size: 45%;
    }
    .logo{
        width: 20rem;
    }
    .background_images{
        height: 550px;
    }
    .banner_content .form{
        margin-top: -5rem;
        margin-left: 3rem;
        margin-right: -3rem;
    }
    .banner_content .form .input_group{
        /* max-width: 350px;
        min-width: 300px; */
        margin-bottom: 0px;
        margin-top: 2px;
    }
    .banner_content .form .input_group:nth-child(2){
        /* background-color: red; */
        margin-top: 10px;
    }
    .icon_section .slick-slide{
        /* background-color: red; */
        margin: 0 2rem !important;
    }
    .icon_section .slick-current{
        transform: scale(1.4);
    }
    .icon_section .slick-track{
        /* width: 150rem !important; */
        /* overflow: hidden; */
        /* background-color: aqua; */
        margin: 0 auto !important;
        /* margin-left: 40rem !important; */
        max-width: 80rem !important;
        height: 250px !important;
    }
}
@media screen and (max-width:858px) {
    html{
        font-size: 40%;
    }
    .icon_section .card_container{
        padding-top: 10px;
        /* background-color: aqua; */
        height: 200px;
        /* max-width: 90rem; */
        /* margin-bottom: -10rem; */
    }
    .icon_section .slick-slide{
        transform: scale(0.9);
    }
    .icon_section .slick-current{
        transform: scale(1.4);
    }
    .icon_section .card_container .icon_card{
        margin: 1rem;
        padding: 1.5rem;
    }
    .icon_section .slick-track{
        width: 80rem !important;
        height: 260px !important;
    }

}


@media screen and (max-width:790px) {
    .banner_content .form {
        width: 330px;
        /* padding: 20px  50px !important; */
    }
    .banner_content .form h3{
        font-size: 16px !important;
    }
    ::-webkit-input-placeholder,
    ::placeholder{
        font-size: 14px;
        font-weight: 500;
        color: #81A7A7;
        /* padding-left: 14px; */
    }
    .banner_content .form .input_group .input_select{
        font-size: 14px;
    }
    .banner_content .form .input_group .input_select option{
        font-size: 14px;
        line-height: 25px;
    }

    .banner_content .form .input_group{
        /* max-width: 350px;
        min-width: 300px; */
        /* background-color: red;
        border: 1px solid black; */
        height: 60px;
        /* width: 250px; */
        min-width: 250px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .banner_content .form .input_group:nth-child(6){
        max-width: 230px ;
        margin: 3rem 5rem;
    }
    .banner_content .form button{
        width: 127px;
        height: 33px;
        font-size: 11px;
        /* margin-top: 23px; */
        margin-bottom: 10px;
    }
    .icon_section .slick-slide{
        transform: scale(0.8);
        margin: 0rem !important;
        padding: 0.2rem !important;
        /* background-color: red; */
    }
    .icon_section .slick-current{
        transform: scale(1.3);
    }
    .icon_section .card_container .icon_card{
        margin: 0.5rem;
        padding: 0.5rem;
    }
    .icon_section .slick-track{
        /* background-color: red !important; */
        width: 70rem !important;
        height: 260px !important;
    }

}
@media screen and (max-width:750px) {
    html{
        font-size: 38%;
    }
}
@media screen and (max-width:722px) {
    .background_images{
        height: 650px;
        /* width: fit-content; */
        /* min-width: 360px;
        max-width: 360px; */
    }
    .banner_content{
        left: 58%;
        width: fit-content;
        /* background-color: red; */
        flex-direction: column;
    }
    .banner_content h2{
        margin: 0;
        margin-top: -15rem;
        padding: 2.0rem 1.5rem;
        background-color: #F17B3B;
        color: #FFFFFF;
        text-align: center;
        font-size: 25px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        min-width: 100%;
        max-width: 330px;

    }
    .banner_content .form{
        /* width: 94.2rem; */
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        margin: 0;
        /* padding: 0; */

    }
    .balloon{
        display: none;
    }

}
@media screen and (max-width:690px) {
    .icon_section .slick-prev::before{
     margin-left: -30px !important;
    }
    .icon_section .slick-next::before{
        margin-left: -38px !important;
    }
    .icon_section .slick-slide{
        transform: scale(0.7);
        /* margin: -2rem !important; */
        padding: 0rem !important;
        /* background-color: red; */
    }
    .icon_section .card_container .icon_card{
        margin: 0rem 9rem !important;
        padding: 0rem !important;
        /* background-color: red !important; */
    }
    .icon_section .slick-current{
        transform: scale(1.2) translate(0,20px);
        /* margin: -2rem !important; */
        /* padding: 0 !important; */
        /* background-color: #81A7A7; */
    }
    .icon_section .slick-track{
        /* background-color: red !important; */
        width: 40rem !important;
        height: 260px !important;
    }
}
